<!DOCTYPE html>
<html data-ng-app="todoApp">

<head>
    <title>TO DO List</title>
    <script src="../../lib/angular.js"></script>
    <link href="../../lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../lib/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

    <script src="todo.js"></script>
</head>

<body ng-controller="ToDoCtrl">
    <div class="page-header">
        <h1>
            {{todo.user}}'s To Do List
            <span class="label label-default">{{todo.items.length}}</span>
        </h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <input class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default">Add</button>
            </span>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todo.items">
                    <td>{{item.action}}</td>
                    <td><input type="checkbox" ng-model="item.done"/></td>
                    <td ng-if="item.done">Yes</td>
                    <td ng-if="!item.done">No</td>
                </tr>                
            </tbody>
        </table>
    </div>
</body>

</html>
